{% extends "proyecto/base.html" %}

{% block content %}
<style>
label {
    margin: auto;
    max-width: 300px;
    padding-top: 20%;
}
</style>

<div class="container" style="display: flex;  justify-content: center;padding-top: 50px;">
    <div class="card" style="width: 60%;  height: 450px; ">
        
        {% if "valido" in request.GET %}


            <p style="color: black;"> Informacion enviada correctamente pronto me comunicare contigo</p>

        {% endif %}
        <form action="" method="POST" style="text-align: center;">
             <!--Agrega un campo oculto para la validacion a modo de clave -->
             {% csrf_token %}
            <table  style="color: black; margin: 20px auto;">
                {{miFormulario.as_table}}
            </table>
            <input type="submit" value="Enviar" style="width:150px;">
        </form>

    </div>
</div>
{% endblock %}
