<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- Cargamos boostrap -->
{% load bootstrap4 %}

<body>
    
    {% block content %}
       
    {% endblock %}
    <ul>
        <li>
            <a href="{% url 'Inicio' %}">Inicio</a>
        </li>
        <li>
            <a  href="{% url 'Proyectos' %}">Proyectos</a>
        </li>
        <li>
            <a href="{% url 'Contacto' %}">Contacto</a>
        </li>
        
    </ul>

</body>
    
{% bootstrap_css %}

</html>