{% extends "proyecto/base.html" %}

{% block content %}

<div class="container" style="display: flex;  justify-content: center;padding-top: 50px;">
 <div class="card" style="width: 100%; height: 50%; ">
    <div class="card-body">
      <!--<img src="D:\ASUS\Documents\PROYECTOS\pagina_web_andres\paginaWb\proyecto\templates\proyecto\camiseta-deporte-adidas-granate-club-1567688065.jpeg" style="width: 100%;" alt="">-->
      <img src="camiseta-deporte-adidas-granate-club-1567688065.jpeg" style="width: 100%;" alt="">
      <h2 class="card-title" style="display: flex; justify-content: center;">Hola soy Andres Felipe Rojas</h5>
      <h3 class="card-subtitle mb-2 text-muted " style="padding-top: 20px;">Desarrollador Jr</h6>
      <p class="card-text" style="font-size: 20px; padding-left: 2px; padding-top: 20px;">Apasionado por la evolución digital, por la construcción de ideas que ayuden a mejorar la marca de una organización. Poseo alto nivel de investigación, soy creativo, dinámico, proactivo y organizado. Constantemente me gusta asumir retos y liderar equipos de trabajo, en las que haya una verdadera transformación digital en organizaciones para lograr una experiencia positiva de retroalimentación de los conocimientos hasta allí obtenidos y poder generar valor cada proceso impactado. Entusiasta en el marketing, en la construcción de aplicaciones y sitios web desde su backend hasta su frontend y generar una excelente experiencia al usuario final.</p>
    </div>
  </div>
</div>
{% endblock %}
