{% extends "proyecto/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        {% for certificacion in certificaciones %}

            <div class="col-md-3" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="card" style="width: 100%; margin:5px 5px;">
                    <img src="{{certificacion.imagen.url}}" class="card-img-top">

                    <div class="card-body" >
                        <h4 class="card-title" style="text-align: center;">{{certificacion.nombre}}</h6>

                        <p class="card-text">{{certificacion.contenido}}</p>
                        <p></p>
                        <a href="{{certificacion.url}}" target="blank">Certificacion</a>                       
                    </div>
                    
                </div>
            </div>


        {% endfor %}
        
    </div>
</div>
{% endblock %}
